<div class="postWrap pageContentBox" data-post-time="<%= post.updated_at.to_i %>" data-post-id="<%= post.id %>">
  <div class="postHeader">
    <image class="postCreatorAvatar" src="https://www-01.ibm.com/software/sg/analytics/images/brandpages/icon-bi60x60.jpg">
    <div class="postInfoWrap">
      <div class="postAction">
        <%= link_to "/#{post.user.id}" do %>
          <strong><%= post.user.name %></strong>
        <% end %>
        <% if (post.user.id != post.target.id) %>
          <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
          <%= link_to "/#{post.target.id}" do %>
            <strong><%= post.target.name %></strong>
          <% end %>
        <% end %>
        <% if (current_user) %>
          <div class="postCaret dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if (current_user.id == post.user.id) %>
                <li>
                  <a href="#" class="editPostButton">編輯</a>
                </li>
              <% end %>
              <% if (current_user.id == post.target.id) %>
                <li>
                  <a href="#" class="deletePostButton">移除</a>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="postInfo">
        <div class="postTime">
          <%= post.created_at.strftime("%I:%M %p %b %d, %Y") %>
        </div>
      </div>
    </div>
  </div>
  <div class="postContent">
    <% post.description.split(/\r?\n/).each do |p| %>
      <p><%= p %></p>
    <% end %>
  </div>
</div>